* { 
    margin:0; 
    padding:0; 
    box-sizing:border-box;
    position: relative;
}
body {
    background: #a4deff;
    font-family: 'Ubuntu', 'Oxygen', sans-serif;
    color: #198fff;
}
header{
    display: flex;
    margin-top: 5vh;
    align-items: center;
}
.HeaderText{
    font-family: 'Ubuntu', 'Oxygen', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 0 12vw;
    position: inherit;
    color: #198fff;
}
.SwitchButton{
    border: none;
    color: #a4deff;
    background-color: #198fff;
    padding: 14px;
    text-align: center;
    font-family: 'Ubuntu', 'Oxygen', sans-serif;
    display: inline-block;
    font-size: 16px;
    font-weight: 800;
    margin: 0 12vw 0 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 7vw;
    flex-direction: column-reverse;
}
.SwitchButton:hover {
    background-color: #0c7be2;
}
hr{
    margin: 15vh 10vw;
    border: 1px solid #19beff;
}
.TextOne {
    text-align: center;
    margin: 15vh 0 5vh 0;
    font-size: 50px;
}
.TextTwo {
    font-weight: lighter;
    margin: 5vh 0 0 12vw;
    font-size: 30px;
}
.TextThree {
    font-weight: bold;
    margin: 5vh 12vw;
    font-size: 50px;
}
.TextFour{
    font-weight: 500;
    margin: 10vh 12vw 18vh 12vw;
    font-size: 24px;
    text-align: justify;
}
.ProfilePhoto{
    max-height: 200px;
    max-width: 200px;
    right: 0;
    position: absolute;
    margin-right: 12vw;
    border-radius: 80px;
    border: #198fff;
    border-style: solid;
    border-width: 6px;
}
.SectionHeader{
    margin: 2vh 0 5vh 14vw;
    font-weight: bolder;
    font-size: 30px;
}
.Biodata{
    margin: 1vh 14vw 2vh 14vw;
    font-size: 20px;
    font-weight: 500;
}
.Phone{
    border: none;
    color: #a4deff;
    background-color: #198fff;
    padding: 5px;
    text-align: center;
    font-family: 'Ubuntu', 'Oxygen', sans-serif;
    display: inline-block;
    font-size: 16px;
    font-weight: 800;
    margin: 0 0 0 5vw;
    cursor: pointer;
    position: absolute;
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 15px;
}
.Phone:hover{
    background-color: #0c7be2
}
a{
    color: #198fff;
}
.Gmail:hover{
    color: #0077e7;
}
.Education{
    display: flex;
    margin: 3vh 0 7vh 0;
    align-items: center;
}
.ITSLogo{
    margin-left: 14vw;
    max-width: 150px;
    max-height: 150px;
    border: 6px solid #198fff;
    border-radius: 30px;
    background: #6db7fc;
}
.SmalaLogo{
    margin: 0 0 0 14vw;
    max-width: 150px;
    max-height: 250px;
    border: 6px solid #198fff;
    border-radius: 30px;
    background: #6db7fc;
}
.College{
    margin: 0 0 0 2vw;
    font-size: 24px;
    font-weight: 700;
}
.HighSchool{
    margin: 0 0 0 2vw;
    font-size: 24px;
    font-weight: 700;
}
.Department{
    margin: 0 0 0 2vw;
    font-weight: 500;
    font-size: 22px;
}
.Organization{
    margin: 0 0 0 3vw;
    font-size: 20px;
    font-weight: 400;
}
.Contact{
    margin: 10vh 14vw 0 14vw;
    font-weight: bold;
    font-size: 32px;
}
#ContactList{
    display: flex;
    margin-top: 6vh;
}
.Instagram{
    max-width: 75px;
    max-height: 75px;
    border: 3px solid #198fff;
    border-radius: 15px;
    margin: 0 0 0 14vw;
    background: #84c3ff;
}
.Instagram:hover{
    background: #56adff;
}
.Github{
    max-width: 75px;
    max-height: 75px;
    margin-left: 1vw;
    border: 3px solid #198fff;
    border-radius: 15px;
    background: #84c3ff;
}
.Github:hover{
    background: #56adff;
}
.Linkedin{
    max-width: 75px;
    max-height: 75px;
    border: 3px solid #198fff;
    border-radius: 15px;
    margin-left: 1vw;
    background: #84c3ff;
}
.Linkedin:hover{
    background: #56adff;
}
.FooterText{
    text-align: center;
    font-size: 20px;
    margin-top: 10vh;
    padding: 10vh;
}
@media only screen and (max-width: 768px) {
    .TextOne{
        font-size: 30px;
        margin: 15vh 0 6vh 0;
    }
    .TextTwo{
        margin: 6vh 0 0 12vw;
    }
    .TextThree{
        font-size: 30px;
        margin: 1vh 0 0 12vw;
    }
    .TextFour{
        text-align: unset;
        margin: 6vh 12vw 18vh 12vw;
    }
    .ProfilePhoto{
        max-height: 150px;
        max-width: 150px;
        position: relative;
        margin-left: 12vw;
        border-radius: 60px;
        border: #198fff;
        border-style: solid;
        border-width: 4.5px;
    }
    .Phone{
        display: flex;
        margin: 2vh 0 0 0;
        position: relative;
    }
    .SectionHeader{
        margin: 20vh 0 5vh 14vw;
    }
    .ITSLogo{
        margin: 10vh 0 0 14vw;
    }
    .SmalaLogo{
        margin: 10vh 0 0 14vw;
    }
    .Education{
        display: inline;
    }
    .College{
        margin: 1vh 14vw 0 14vw;
    }
    .HighSchool{
        margin: 1vh 14vw 0 14vw;
    }
    .Department{
        margin: 0 14vw 0 14vw;
    }
    .Organization{
        margin: 0 14vw 0 14vw;
    }
}
.DarkMode{
    background: #121212;
}
.DarkPhoto{
    border: 6px solid rgb(212, 97, 216);
}
.DarkText{
    color: rgb(212, 97, 216);
}
.DarkButton{
    color: #121212;
    background: rgb(212, 97, 216);
}
.DarkButton:hover {
    background: rgb(251, 123, 255);
}
.hrDark{
    border: 1px solid rgb(212, 97, 216);
}
.DarkLink{
    color: rgb(212, 97, 216);
}
.DarkLink:hover{
    color: rgb(234, 115, 238);
}
.DarkITSLogo{
    border: 6px solid rgb(146, 43, 150);
    background: #464141;
}
.DarkSmalaLogo{
    border: 6px solid rgb(146, 43, 150);
    background: #4e4e4e;
}
.DarkLogo{
    border: 6px solid rgb(146, 43, 150);
    background: #4e4e4e;
}
.DarkLogo:hover{
    background: #686868;
}